---
language: objective-c
osx_image: xcode9

script: 
 - xcodebuild -project Kvitto.xcodeproj -scheme "Kvitto" -sdk iphonesimulator  -destination 'platform=iOS Simulator,name=iPhone 6 Plus' build test

after_success:
 - bash <(curl -s https://codecov.io/bash)
